@charset "utf-8";
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #6B6B6B;
	font-size: 16px;
    background-color: #224c37;
    padding-top: 60px;
    /*min-height: 500px;*/
}

/* Firefox */
@-moz-document url-prefix() {
body { font-size: 12px; }
}
/* Safari */
@media screen and (-webkit-min-device-pixel-ratio:0) {

}
/* Opera */
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0) {

}


header {
    font-size: 14px;
}

#vmaig-main{
    padding:20px 0;
    position: relative;
    min-height:100%;
    _height:100%; /* for ie6 因为ie6不支持min-height */
}

#vmaig-content {
    padding: 10px;
    padding-bottom: 30px;  /* 不至被footer盖住 */
}



footer {
    position: absolute;
    height: 30px;
    width: 100%;
    bottom: 0;
    background-color: #222;
    text-align: center;
    padding: 20px 0;
    color: #fff;

}


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 700;
}

a {
    color:#4C4C4C;
}

a:focus{
    color:#D9534F;
    text-decoration:none;
}

a:hover{
    color:#D9534F;
    text-decoration:none;
}

#vmaig {
    padding-top:50px;
}





.well {
	background-color: #FFF;
	box-shadow: 0 0 20px #222;

}


.all-post{
    margin-bottom:20px;
}

.all-post .post-title {
    margin-bottom:10px;
}

.all-post .post-tags{
    float:right;
    margin-top:5px;
}

.all-post .post-title h1{
    margin-top:0;
    margin-bottom:0;
    padding-top:3px;
    font-size:20px;
    height:30px;
    line-height:30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.all-post .post-title>.post-tags{
    float:right;
}

.all-post .post-content .thumbnail{
    border: 1px solid #ED9C29;
    padding: 0;
}

.all-post .post-info {
    float:right;
    margin-top:-20px;
}

.all-post .post-info span {
    font-size: 10px;
    /*margin-bottom: 15px;*/
}

.all-post .post-content .row .col-sm-4 {
    padding-right:5px;
    padding-left:5px;
}

.all-post .post-content .row .col-sm-8 {
    padding-right:5px;
    padding-left:5px;
}
.underline{
    border-bottom:1px solid #eee;
}

.pre-cat{
    float:left;
    margin-right:10px;
    position:relative;
}

.pre-catinner{
    background-color:#D94600;
    padding:4px;
    border-radius:4px;
    font-size:14px;
    color:#EEE;
}

.pre-catarrow{
    position: absolute;
    height: 0;
    width: 0;
    font-size: 0;
    line-height: 0;
    border-width: 4px;
    border-style: solid;
    border-image: none;
    right: -8px;
    top: 10px;
    border-color: transparent transparent transparent #D94600;
}


.tags{
    margin-top:5px;
}

.tags label{
    display: inline-block;
    padding:0 10px;
    margin:0 3px 5px 0;
    font-size:14px;
    border-radius:2px;
}

.tags label:hover{
    background: none repeat scroll 0 0 #EEE;
}

.tags label.active:hover{
    background:#D94600;
}

.tags .active{
    background:#D94600;
    color:#FFF;
}

.sort {
    padding-bottom:15px;
    font-size:13px
}

.sort label{
    margin-right:10px;
}

#div1 {
    position:relative;
    background-color: #fff;
    margin-bottom: 20px;
    width: 200px;
    height: 200px;
}
.panel-vmaig{
    box-shadow: 0 0 5px #C2C2C2;
    border-color:#EEE;
}

.panel-vmaig .panel-heading{
    color: #EEE;
    background-color: #222;
    border-color: #EEE;
}

.panel-vmaig .input-group-addon{
    color: #EEE;
    background-color: #3D4450;
    border:2px solid #3D4450;
}

.panel-vmaig .badge{
    background-color:#D94600;
}

.panel-vmaig span.btn{
    padding:0;
    margin-right:5px;
}
.list-group-item {
	border: solid #EEE;
}


/*pagecss*/

#article .article-title {
    color: #2c0702;
    border-radius: 4px;
}
#article .article-content {
    color: #2c0702;
}

#article .article-content a {
    text-decoration: none;
    color: #2aabd2;
}
#article .article-content a:hover {
    text-decoration: none;
    color: #1b7fd2;
}
#article .article-content h4 {
    margin: 15px 0;
}


/*媒体查询,参考部分 Bootstrap 框架*/
/*当页面大于 1200px 时,大屏幕,主要是 PC 端*/
@media (min-width: 1200px) {

}


/*在 992 和 1199 像素之间的屏幕里,中等屏幕,分辨率低的 PC*/
@media (min-width: 992px) and (max-width: 1199px) {

}

/*在 768 和 991 像素之间的屏幕里,小屏幕,主要是 PAD*/
@media (min-width: 768px) and (max-width: 991px) {


}

/*在 480 和 767 像素之间的屏幕里,超小屏幕,主要是手机*/
@media (min-width: 480px) and (max-width: 767px) {

}

/*在小于 480 像素的屏幕,微小屏幕,更低分辨率的手机*/
@media (max-width: 479px) {
    body {
        font-size: 12px;

    }
    .all-post .post-info span {
        font-size: 10px;
        padding-top: 15px;
    }
    .well {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}