<div id="vmaig-tag-cloud">
    <div class="panel panel-vmaig">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="glyphicon glyphicon-refresh"></span>
                旋转标签
                <span class="glyphicon glyphicon-remove btn panel-close pull-right"></span>
                <span class="glyphicon glyphicon-chevron-up btn panel-collapse pull-right" data-toggle="collapse" data-target="#tag-cloud-list"></span>
            </h3>
        </div>
        <ul id="tag-cloud-list" class="list-group collapse in">

            <canvas id="myCanvas" width="263" height="263">
                <ul>
                    <li><a href="/tag/linux">linux</a></li>
                    <li><a href="/tag/docker">docker</a></li>
                    <li><a href="/tag/python">python</a></li>
                    <li><a href="/tag/html">html</a></li>
                    <li><a href="/tag/cloud">云计算</a></li>
                    <li><a href="/tag/database">数据库</a></li>
                    <li><a href="/tag/python">python</a></li>
                    <li><a href="/tag/html">html</a></li>
                    <li><a href="/tag/cloud">云计算</a></li>
                    <li><a href="/tag/javascript">javascript</a></li>
                    <li><a href="/tag/bootstrap">bootstrap</a></li>
                    <li><a href="/tag/linux">linux</a></li>
                    <li><a href="/tag/docker">docker</a></li>
                    <li><a href="/tag/database">数据库</a></li>
                    <li><a href="/tag/javascript">javascript</a></li>
                    <li><a href="/tag/bootstrap">bootstrap</a></li>

                </ul>
            </canvas>

        </ul>
    </div>
</div>
