<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/dict.css">

</head>
<body style="background-color: #224c37;">

<div class="text-center">
    <h1 style="font-size: 100px; color: #337ab7">404</h1>
    <a href="/" class="btn btn-lg btn-primary">返回首页</a>

</div>
</body>
</html>
