{% extends "base.html" %}
{% block leftbar %}
                <div class="well">
                    <ol class="breadcrumb">
                        <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
                        <li><a href="/tag/{{ dataPool.get_tags()[0] }}">{{ dataPool.get_tags()[0] }}</a></li>
                        <!--<li><a href="/date/{{ dataPool.created_date }}">{{ dataPool.created_date }}</a></li>-->
                        <li><a href="#">{{ dataPool.created_date }}</a></li>
                    </ol>
                    <div id="article">
                        <div class="article-title text-center">
                            <h2>{{ dataPool.title }}</h2>
                        </div>

                        <div class="article-tags">
                            {% for tag in dataPool.get_tags() %}
                                <a href="/tag/{{ tag }}" class="pull-right">
                                    <span class="label label-primary">{{ tag }}</span>
                                </a>
                            {% end %}
                        </div>

                        <hr>
                        <div class="article-content">
                            {% raw dataPool.content %}
                        </div>
                    </div>
                </div>
{% end %}
{% block rightbar %}
<div id="vmaig-hotest-posts">
    <div class="panel panel-vmaig">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="glyphicon glyphicon-fire"></span>
                热门文章
                <span class="glyphicon glyphicon-remove btn panel-close pull-right"></span>
                <span class="glyphicon glyphicon-chevron-up btn panel-collapse pull-right" data-toggle="collapse" data-target="#hotest-post-list"></span>
            </h3>
        </div>
        <ul id="hotest-post-list" class="list-group collapse in">
            {% for i in rightbarHot %}
                <li class="list-group-item">
                <span class="hotest-post-title"><a href="/page/{{ i.id }}">{{ i.title }}</a> </span>
                <span class="badge">{{ i.zan_times }}</span>
                </li>
            {% end %}
        </ul>
    </div>
</div>


<div id="vmaig-newest-posts">
    <div class="panel panel-vmaig">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="glyphicon glyphicon-calendar"></span>
                博客档案
                <span class="glyphicon glyphicon-remove btn panel-close pull-right"></span>
                <span class="glyphicon glyphicon-chevron-up btn panel-collapse pull-right" data-toggle="collapse" data-target="#newest-post-list"></span>
            </h3>
        </div>
        <ul id="newest-post-list" class="list-group collapse in">
            {% for i in rightbarDate %}
                <li class="list-group-item">
                    <span class="hotest-post-title"><a href="/date/{{ i.created_date }}">{{ i.created_date }} ({{ i.count }})</a> </span>
                </li>
            {% end %}
        </ul>
    </div>
</div>



<div id="vmaig-tag-cloud">
    <div class="panel panel-vmaig">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="glyphicon glyphicon-refresh"></span>
                旋转标签
                <span class="glyphicon glyphicon-remove btn panel-close pull-right"></span>
                <span class="glyphicon glyphicon-chevron-up btn panel-collapse pull-right" data-toggle="collapse" data-target="#tag-cloud-list"></span>
            </h3>
        </div>
        <ul id="tag-cloud-list" class="list-group collapse in">

            <canvas id="myCanvas" width="263" height="263">
                <ul>
                    <li><a href="/tag/linux">linux</a></li>
                    <li><a href="/tag/docker">docker</a></li>
                    <li><a href="/tag/python">python</a></li>
                    <li><a href="/tag/html">html</a></li>
                    <li><a href="/tag/cloud">云计算</a></li>
                    <li><a href="/tag/database">数据库</a></li>
                    <li><a href="/tag/python">python</a></li>
                    <li><a href="/tag/html">html</a></li>
                    <li><a href="/tag/cloud">云计算</a></li>
                    <li><a href="/tag/javascript">javascript</a></li>
                    <li><a href="/tag/bootstrap">bootstrap</a></li>
                    <li><a href="/tag/linux">linux</a></li>
                    <li><a href="/tag/docker">docker</a></li>
                    <li><a href="/tag/database">数据库</a></li>
                    <li><a href="/tag/javascript">javascript</a></li>
                    <li><a href="/tag/bootstrap">bootstrap</a></li>

                </ul>
            </canvas>

        </ul>
    </div>
</div>
{% end %}