<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="all-post-list">
        {% for i in tagDataPool %}
            <div id="div{{ i.id }}" class="all-post clearfix fade in underline">
                <!--<span class="close" data-toggle="alert" data-dismiss="alert" data-target="#div{{ i.id }}">&times;</span>-->
                <div class="post-title clearfix">
                    <a href="">
                        <div class="pre-cat">
                            <div class="pre-catinner btn">{{ i.get_tags()[0] }}</div>
                            <div class="pre-catarrow"></div>
                        </div>
                    </a>
                    <h1><a href="/page/{{ i.id }}">{{ i.title }}</a></h1>
                    <div class="post-tags" style="float: right">
                        {% for j in i.get_tags()%}
                            <a href="/tag/{{ j }}">
                                <span class="label label-primary btn">{{ j }}</span>
                            </a>
                        {% end %}
                    </div>
                </div>
                <div class="post-content">
                    <div class="row">
                        <div class="col-sm-4">
                            <figure class="thumbnail">
                                <a href="/page/{{ i.id }}">
                                    <img class="img-responsive" src="/static/img/linux.jpg" />
                                </a>
                            </figure>
                        </div>
                        <div class="col-sm-8">
                            <p></p>
                            <p>{{ i.summary }}</p>
                        </div>
                    </div>
                </div>
                <div class="post-info">
                    <span><span class="glyphicon glyphicon-user"></span> {{ i.author }}</span>
                    <span><span class="glyphicon glyphicon-calendar"></span> {{ i.created_date }}</span>

                    <span></span>
                </div>
            </div>
        {% end %}
    </div>
</body>
</html>